.effect4 {
    float: left;
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin-right: 1.5%;
    position: relative;
    cursor: pointer;
  }
  
  .effect4 img {
    max-width: 100%
  }
  
  .effect4 span {
    text-decoration: none;
    color: #fff;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 40px;
    height: 0px;
    position: absolute;
    transition: 1.5s ease all;
    visibility: hidden;
    opacity: 0;
    bottom: 3px;
  }
  
  .effect4:hover span {
    background-color: rgba(0, 0, 0, 0.362);
    visibility: visible;
    height: 100%;
    padding: 42% 0;
    opacity: 1;
  }