/* font-family: 'Libre Baskerville', serif;
font-family: 'Lora', serif;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
 */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Lato:ital,wght@0,100;0,300;1,100;1,300&family=Libre+Baskerville:ital@0;1&family=Lora:ital@1&family=Noto+Sans+TC:wght@300;400&family=Oleo+Script+Swash+Caps:wght@700&family=Oswald:wght@200&family=Roboto:ital,wght@0,300;1,300&display=swap');

.story-font {
  font-family: 'Roboto';
}

.quotes {
  font-family: 'Playfair Display';
}

[class^="hvr-"] {
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-wobble-horizontal:hover,
.hvr-wobble-horizontal:focus,
.hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}






/* .v {
  -webkit-animation: tw-bounce 1s infinite; 
   animation: tw-bounce 1s infinite; 
}
.p {
  width: 1.5rem;
}
.m {
  height: 1.5rem;
}

@keyframes tw-bounce{
  0%, 100% {
      transform: translateY(-25%);
      -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  
  50% {
      transform: none;
      -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
      animation-timing-function: cubic-bezier(0,0,0.2,1);
  }} 
  




   <svg xmlns="http://www.w3.org/2000/svg" class="p m v" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
            </svg>

            
  */