/* font-family: 'Libre Baskerville', serif;
font-family: 'Lora', serif;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,100;1,300&family=Libre+Baskerville:ital@0;1&family=Lora:ital@1&family=Noto+Sans+TC:wght@300;400&family=Oleo+Script+Swash+Caps:wght@700&family=Oswald:wght@200&family=Roboto:ital,wght@0,300;1,300&display=swap');

.story-font {
  font-family: 'Lato';
}